# ----------------------------------------------------------------
# Logs
# ----------------------------------------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ----------------------------------------------------------------
# Dependencies and Artifacts
# ----------------------------------------------------------------
/node_modules
/dist
/dist-ssr
/build

# ----------------------------------------------------------------
# Environment variables and sensitive data (중요 보안 항목)
# ----------------------------------------------------------------
.env
/src/config/config.json # DB 비밀번호가 포함된 파일을 Git에서 제외

# ----------------------------------------------------------------
# Editor directories and files
# ----------------------------------------------------------------
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local